<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <title>JSGuruLibrary</title>
    </head>
    <body>
        <div class="requestcontainer">
            <div class="requests">
                <!-- REQUESTS GO HERE -->
            </div>
        </div>
        <script src="./js/clientAppBundle.js"></script>
    </body>
<html>