<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <title>JSGuru Library</title>
    </head>
    <body>
        <div class="authformcontainer">
            <div class="authform">
                <label for="user_name">Username:</label>
                <input class="authinput" name="user_name" id="user_name" type="text">
                <label for="user_password">Password:</label>
                <input class="authinput" name="user_password" id="user_password" type="password">
                <label for="user_confirmpassword">Confirm password:</label>
                <input class="authinput" name="user_password" id="user_confirmpassword" type="password">
                <button class="controlbutton authsubmit" data-type='signup'>Sign up!</button>
            </div>
        </div>
        <script src="./js/clientAppBundle.js"></script>
    </body>
<html>